body{
    font-family: cursive, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 17;
}
#upload-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

p{
    font-size: 17;
}

#button-check{
    font-size: 17;
}
